#content.top
  .excel_title
    Excel Student Spreadsheet Importer
  
  .main.loader
    This upload accepts a .xlsx file with a specific format.
    %br
    %p
      = form_tag( {:action => 'excel_student_upload'}, :multipart => true) do
        %b
          Upload File:
        %input{ :id => "upload_file_excel", :type=> "file", :name=> "upload"}
        %input{ :id => "excel_submit", :type => "submit", :value => "upload", :onclick => "jQuery('#loader').toggle(); jQuery('#excel_submit').toggle();"}
          #loader{:style => "display: none;"}
            = image_tag("loader.gif")